<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheAdventuresOfBob.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFE350EB1FB9A60900EA8EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFE351041FB9A60900EA8EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFE3510F1FB9A60900EA8EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
